.card-title {
    text-decoration: none;
}

.mf {
    margin-left: auto;
}

.avatar-user {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}

.check-box-width {
    text-align-last: center;
    width: 200px;
}
